<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>



<p>
  <% if @user.ratings.empty? %>
      <%=@user.username%> has not yet been rated!
  <% else %>
      <%=@user.username%> has <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
  <% end %>
</p>

<% if @user == current_user%>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', users_path %>
